{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> Páginas <span></span> Sobre nosotros
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/imgs/page/about-1.png' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Bienvenidos a Bocados Callejeros</h2>
                                    <p class="mb-25">Nos enfocamos en darle placer a su paladar "Rapidez y deleite en cada bocado."</p>
                                    <p class="mb-25">En nuestro rincón culinario, cada bocado es un viaje a las calles llenas de vida, donde los aromas y los sabores se entrelazan en una danza irresistible. Somos testigos de cómo la rapidez se encuentra con la calidad, sin comprometer lo que hace que cada mordisco sea especial. En cada sabor, nuestro compromiso es llevar la pasión y la esencia directo a tu mesa. Descubrirás la historia que el barrio tiene para contar.</p>
                                    <p class="mb-50">En nuestro rincón gastronómico, la esencia del barrio se funde con la alegría de la comida rápida. Cada plato lleva consigo la historia de nuestras calles y el calor de nuestra comunidad. Ven y disfruta, porque aquí, la rapidez no está reñida con el auténtico placer de cada sabor.</p>
                                    <div class="carausel-3-columns-cover position-relative">
                                        <div id="carausel-3-columns-arrows"></div>
                                        <div class="carausel-3-columns" id="carausel-3-columns">
                                            <img src="{% static 'assets/imgs/page/about-2.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-3.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-4.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-2.png' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-center mb-50">
                            <h2 class="title style-3 mb-40">¿Que ofrecemos?</h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-1.svg' %}" alt="" />
                                        <h4>Mejores precios y ofertas</h4>
                                        <p>Explora nuestras irresistibles ofertas y precios competitivos que harán que cada bocado valga la pena. Desde deliciosas hamburguesas hasta tentadoras pizzas, ¡encuentra tu próxima comida favorita a un precio que te encantará!</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-2.svg' %}" alt="" />
                                        <h4>Gran variedad</h4>
                                        <p>Sumérgete en un mundo de sabores con nuestro amplio surtido de comidas rápidas. Desde clásicos como las alitas de pollo crujientes hasta opciones más exóticas como los rolls de sushi, tenemos algo para satisfacer todos los antojos y gustos.</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-3.svg' %}" alt="" />
                                        <h4>Envios gratis</h4>
                                        <p>Disfruta de la conveniencia de recibir tus platillos favoritos directamente en la puerta de tu casa, ¡sin costos adicionales! Con nuestro envío gratuito, puedes deleitarte con nuestras delicias sin preocuparte por gastos de envío.</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-4.svg' %}" alt="" />
                                        <h4>Devoluciones faciles</h4>
                                        <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no quedas satisfecho con tu pedido, nuestro proceso de devolución fácil te asegura una experiencia sin complicaciones. ¡Queremos que cada comida sea una experiencia memorable!</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-5.svg' %}" alt="" />
                                        <h4>Satisfaccion al 100%</h4>
                                        <p>Garantizamos tu satisfacción. Desde la calidad de nuestros ingredientes hasta el mejor servicio al cliente, nos esforzamos por superar tus expectativas en cada pedido. Si no estás completamente feliz, ¡haremos lo que sea necesario para solucionarlo!</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-6.svg' %}" alt="" />
                                        <h4>Increibles ofertas diarias</h4>
                                        <p>Descubre nuestras increíbles ofertas diarias que te permitirán disfrutar de tus platillos favoritos a precios aún más bajos. Desde combos familiares hasta descuentos en postres, siempre tenemos algo especial esperándote cada día.</p>
                                        <a href="#">Leer mas</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="row align-items-center mb-50">
                            <div class="row mb-50 align-items-center">
                                <div class="col-lg-7 pr-30">
                                    <img src="{% static 'assets/imgs/page/about-5.png' %}" alt="" class="mb-md-3 mb-lg-0 mb-sm-4" />
                                </div>
                                <div class="col-lg-5">
                                    <h4 class="mb-20 text-muted">Nuestro rendimiento</h4>
                                    <h1 class="heading-1 mb-40">Su socio para soluciones de comercio electrónico de comestibles</h1>
                                    <p class="mb-30">Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                                    <p>Pitatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Quienes somos</h3>
                                    <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                                </div>
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Nuestra historia</h3>
                                    <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="mb-30">Nuestra misión</h3>
                                    <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <section class="container mb-50 d-none d-md-block">
                <div class="row about-count">
                    <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                        <h1 class="heading-1"><span class="count">12</span>+</h1>
                        <h4>Años gloriosos</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">36</span>+</h1>
                        <h4>Clientes felices</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">58</span>+</h1>
                        <h4>Proyectos realizados</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">24</span>+</h1>
                        <h4>Equipo asesor</h4>
                    </div>
                    <div class="col-lg-1-5 text-center d-none d-lg-block">
                        <h1 class="heading-1"><span class="count">26</span>+</h1>
                        <h4>Venta de productos</h4>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <h2 class="title style-3 mb-40 text-center">Nuestro equipo</h2>
                            <div class="row">
                                <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                    <h6 class="mb-5 text-brand">Nuestro equipo</h6>
                                    <h1 class="mb-30">Conozca a nuestro equipo de expertos.</h1>
                                    <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                                    <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                                    <a href="#" class="btn">Ver todos los miembros</a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static 'assets/imgs/page/about-6.png' %}" alt="" />
                                                <div class="content text-center">
                                                    <h4 class="mb-5">Juan Diego</h4>
                                                    <span>CEO & Co-Founder</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static 'assets/imgs/page/about-8.png' %}" alt="" />
                                                <div class="content text-center">
                                                    <h4 class="mb-5">Juan Manuel</h4>
                                                    <span>Head Engineer</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}