{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> Páginas <span></span> Condiciones de uso
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2>Condiciones de uso</h2>
                                        <div class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15">
                                            <span class="post-by">Por <a href="#">Jonh</a></span>
                                            <span class="post-on has-dot">9 Abril 2020</span>
                                            <span class="time-reading has-dot">8 minutos de lectura</span>
                                            <span class="hit-count has-dot">29k Vistas</span>
                                        </div>
                                    </div>
                                    <div class="single-content mb-50">
                                        <p>Le rogamos que lea atentamente estas Condiciones del servicio («Condiciones», «Condiciones del servicio») antes de utilizar el sitio web https://Evara.com (el «Servicio»), operado por Evara («nosotros», «nos» o «nuestro»).</p>
                                        <p>Su acceso y uso del Servicio están condicionados a la aceptación y cumplimiento de estas Condiciones. Estas Condiciones se aplican a todos los visitantes, usuarios y demás personas que accedan o utilicen el Servicio.</p>
                                        <p>Al acceder o utilizar el Servicio, usted acepta quedar vinculado por estas Condiciones. Si no está de acuerdo con alguna parte de las mismas, no podrá acceder al Servicio.</p>
                                        <h4>Derechos y restricciones</h4>
                                        <ol>
                                            <li>Los miembros deben tener al menos 18 años.</li>
                                            <li>A los miembros se les concede un derecho limitado en el tiempo, no exclusivo, revocable, intransferible y no sublicenciable para acceder a la parte del curso en línea correspondiente a la compra.</li>
                                            <li>La parte del curso en línea correspondiente a la compra estará disponible para el Miembro mientras el curso sea mantenido por la Empresa, que será como mínimo un año después de la compra por parte del Miembro.</li>
                                            <li>Los vídeos del curso se ofrecen en streaming y no se pueden descargar.</li>
                                            <li>Al aceptar conceder dicho acceso, la Empresa no se obliga a mantener el curso, ni a mantenerlo en su forma actual.</li>
                                        </ol>
                                        <h4>Enlaces a otros sitios web</h4>
                                        <p>Nuestro Servicio puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están controlados por Evara.</p>
                                        <p>Evara no tiene control sobre, y no asume ninguna responsabilidad por, el contenido, las políticas de privacidad o las prácticas de los sitios web o servicios de terceros. Además, usted reconoce y acepta que Evara no será responsable, directa o indirectamente, por cualquier daño o pérdida causada o supuestamente causada por o en conexión con el uso o la confianza en cualquier contenido, bienes o servicios disponibles en o a través de cualquiera de dichos sitios web o servicios.</p>
                                        <p>Le recomendamos encarecidamente que lea las condiciones y políticas de privacidad de los sitios web o servicios de terceros que visite.</p>
                                        <h4>Terminación</h4>
                                        <p>Podemos terminar o suspender el acceso a nuestro Servicio inmediatamente, sin previo aviso ni responsabilidad, por cualquier motivo, incluyendo, sin limitación, si usted incumple las Condiciones.</p>
                                        <p>Todas las disposiciones de las Condiciones que, por su naturaleza, deban subsistir tras la rescisión, subsistirán tras la rescisión, incluidas, entre otras, las disposiciones sobre propiedad, exclusión de garantías, indemnizaciones y limitaciones de responsabilidad.</p>
                                        <h4>Derecho aplicable</h4>
                                        <p>Las presentes Condiciones se regirán e interpretarán de conformidad con la legislación de Viet Nam, sin tener en cuenta sus disposiciones en materia de conflicto de leyes.</p>
                                        <p>El hecho de que no hagamos valer cualquier derecho o disposición de estas Condiciones no se considerará una renuncia a dichos derechos. Si alguna disposición de estas Condiciones fuera declarada inválida o inaplicable por un tribunal, las restantes disposiciones de estas Condiciones seguirán en vigor. Estas Condiciones constituyen el acuerdo completo entre nosotros en relación con nuestro Servicio, y sustituyen y reemplazan cualquier acuerdo anterior que pudiéramos tener entre nosotros en relación con el Servicio.</p>
                                        <h4>Cambios</h4>
                                        <p>Nos reservamos el derecho, a nuestra entera discreción, de modificar o sustituir estas Condiciones en cualquier momento. Si una revisión es sustancial, intentaremos avisar con al menos 30 días de antelación antes de que los nuevos términos entren en vigor. Lo que constituya un cambio sustancial se determinará a nuestra entera discreción.</p>
                                        <p>Al continuar accediendo o utilizando nuestro Servicio después de que dichas revisiones entren en vigor, usted acepta quedar vinculado por los términos revisados. Si no acepta las nuevas condiciones, deje de utilizar el Servicio.</p>
                                        <h4>Contacte con nosotros</h4>
                                        <p>Si tiene alguna pregunta sobre estas Condiciones, por favor <a href="page-contact.html">contacto</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                                <div class="widget-area">
                                    <div class="sidebar-widget-2 widget_search mb-50">
                                        <div class="search-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search…" />
                                                <button type="submit"><i class="fi-rs-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget widget-category-2 mb-30">
                                        <h5 class="section-title style-1 mb-30">Categoría</h5>
                                        <ul>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="" />leches y productos lácteos</a><span class="count">30</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-2.svg' %}" alt="" />Ropa</a><span class="count">35</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-3.svg' %}" alt="" />Alimentos para mascotas </a><span class="count">42</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-4.svg' %}" alt="" />Material para hornear</a><span class="count">68</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-5.svg' %}" alt="" />Frutas frescas</a><span class="count">87</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product sidebar Widget -->
                                    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                                        <h5 class="section-title style-1 mb-30">De actualidad</h5>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                                <p class="price mb-0 mt-5">$99.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                                <p class="price mb-0 mt-5">$89.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Lorem, ipsum</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-img wow fadeIn mb-40 animated d-lg-block d-none">
                                        <img src="{% static 'assets/imgs/banner/banner-11.png' %}" alt="" />
                                        <div class="banner-text">
                                            <span>Orgánico</span>
                                            <h4>
                                                Ahorra un 17% <br />
                                                en <span class="text-brand">Ogánico</span><br />
                                                Jugo
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
